.left-nav
  .main-frame
    .main-frame__titles
      .main-frame__title
      .main-frame__comment
    .main-frame__gif
    .main-frame__btn
      -# = link_to '/', class: "main-frame__btn__new" do
      -# = link_to '/', class: "main-frame__btn__login" do