// write
.right-main{
  &__diary-items{
    height: calc(100% - 60px);
    width: calc(100% - 20px);
    border: 3px solid black;
    background-color: white;
    border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
  }
  &__diary-title {
    width: 100%;
    grid-row: 1 / 2 ;
    color: deeppink;
    font-size: 20px;
    text-decoration: underline;
    text-align: center;
    align-self: center;
    justify-self: center;
  }
  &__diary-form {
    width: 100%;
    padding: 20px;
    grid-row: 2 / 3 ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__diary-day {
  }
  &__diary-genre {
    grid-column: 2 / 3 ;
    grid-row: 1 / 2 ;
    &__form{

    }
  }
  &__diary-content {
    height: 100%;
    grid-column: 1 / 2 ;
    grid-row: 2 / 3 ;
    display: block;
    &__form{
      height: 90%;
      width: 90%;
      text-align: start;
    }
  }
  &__diary-parise {
    height: 100%;
    grid-column: 2 / 3 ;
    grid-row: 2 / 3 ;
    display: block;
    &__form{
      height: 90%;
      width: 90%;
      text-align: start;
    }
  }
  &__diary-btns {
    grid-column: 1 / 3 ;
    grid-row: 3 / 4 ;
    display: block
  }
  &__diary-btn {
    color: deeppink;
  }
}

// watch
.right-main{

}